
<!--Sukanvisa Pearyoo
    Jan 20 2023
    Project: Job application for software developers to apply-->

<include href="views/header.html"></include>

<body>
<div class = "container-fluid">

    <h2>Job Opening Mailing Lists</h2>

    <form action="#" method="get" class="form-horizontal">
        <label for="softwarelisting">Software Development Jobs</label><br>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">JavaScript</label>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">PHP</label>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">Java</label>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">Python</label>

        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">HTML</label>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">CSS</label>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">ReactJS</label>
        <input type="radio" id="softwarelisting" name="relocate" ><label for="softwarelisting">NodeJS</label>


        <label for="industry">Industry Verticals</label><br>
        <input type="radio" id="industry" name="industry" ><label for="industry">PHP</label>
        <input type="radio" id="industry" name="industry" ><label for="industry">Java</label>
        <input type="radio" id="industry" name="industry" ><label for="industry">Python</label>

        <input type="radio" id="industry" name="industry" ><label for="industry">HTML</label>
        <input type="radio" id="industry" name="industry" ><label for="industry">CSS</label>
        <input type="radio" id="industry" name="relocate" ><label for="industry">JavaScript</label>


        <a type = "button" class=" btn btn-primary"
           href="sum">Next ></a>




        <br><br>
    </form>

        </div>
        <footer>
            <br>
        </footer>





    </div>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>


