
<!--Sukanvisa Pearyoo
    Jan 20 2023
    Project: Job application for software developers to apply-->

<include href="views/header.html"></include>

<body>

<!--Sukanvisa Pearyoo
    Jan 20 2023
    Project: Job application for software developers to apply-->

    <include href="views/header.html"></include>


    <div class = "container-fluid">

      <div class="row" id = "head">
        <div id ="compname" class="col-sm-12 ">
          <div>
            <p>The Pacific Northwest</p>
          </div>

        </div>

        <div class="row" id = "one">
          <div  id ="name" class="col-sm-8 ">
            <h1>Software Development Internship</h1>
          </div>

        </div>

      </div>

      <div class = "row">
        <div class="col-sm-12 col-md-6" id="padding">
          <div id="nav">
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Expectation</a></li>
              <li><a href="">Our Team</a></li>
            </ul>
            <br>
          </div>
        </div>

        <div class="backgroundColor">
          <h4 class="tittle">Job Opening Mailing List</h4>
          <hr>
          <form action="#" method="POST">

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="row">
                    <div class="border">
                      <p>Name: </p>
                      <hr>
                      <p>Email: </p>
                      <hr>
                      <p>State: </p>
                      <hr>
                      <p>Phone: </p>
                      <hr>
                      <p>Github Link: </p>
                      <hr>
                      <p>Experience: </p>
                      <hr>
                      <p>Willing To Relocate: </p>
                      <hr>
                      <p>Mailing List: </p>
                      <hr>
                    </div>
                  </div>
                </div>
                  <div class="col-md-6 col-sm-12">
                    <img src="images/headshot.jpg" alt="headshot of Kuma" class="dog">

                  </div>
                </div>
            <br>
            <br>



                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4">
                    <a type = "button" class=" btn btn-primary" id="secbutton"
                       href="sum">Next ></a>
                  </div>
                  <div class="col-4"></div>
              </div>
          </form>

        </div>
        <br>






      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>






