body{
}
div{
    display: block;
}
label{
    margin: 0;
    padding-right: 18%;
}


img {
    width: 100%;
    height: auto;
    border-radius: 20px;

}
#compname{
    padding-top: 5%;
    padding-left: 5%;
    display: inline-block;
}
#one{
    /*padding-top: 5%;*/
    padding-bottom: 2%;
    text-align: center;
    display: flex;
}
#applybtn{
    display: inline-block;
}

#button{
    text-align: center;
}
#button2{
    text-align: center;
}
.btn-primary{
    background-color: #72919d;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.btn-primary:hover{
    opacity: 1;
}

#parag{
    text-align: center;
}
#padding{
    padding: 1% 5% 2%;
}
#line{
    border: none;
    border-top: 1px dotted black;
}
#nav  {
    margin: 10px;
    width: 900px;
    /*left: 0px;*/
    display: flex;
    text-align: center;

    /*justify-content: center;*/
    /*display: inline-block;*/
}
#nav li {
    display:block;
    width:100px;

    float:left;
    margin-left:2px;
    /*border:1px solid #000;*/
}

#nav a {
    /*display:block;*/
    padding:3px;
    text-decoration:none;
    background-color:#fff;
    color: #1f1f21;
}

#nav a:hover {
    background-color:#6c6c6e;
    color: #3a6572;
    opacity: 5%;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}
.row{
}

/*personal info page*/

#personaldes {
    border-radius: 5px;
    color: #1d1d1e;
    background-color: lightgray;
}
#infohead{
    padding: 10%;
}

.tittle{
    padding-top: 2%;
}

.personalbox{
    color: #cbcbcb;
}

.backgroundColor{
    background-color: #f6f6f6;
    border-radius: 15px;
    /*padding: 30px;*/
    padding-bottom: 30px;
    padding-right: 10px;
    line-height: 1.5;


}
/*experience page*/
#secbutton{
    width: 100%;
    display: block;
}
#bio{
    display: block;
    width: 100%;
    height: 90%;
}
#github{
    border-radius: 10px;
    width: 80%;
    line-height: 1.5;
    border: #6c6c6e;
    padding: 0.5rem;
}

/*mailing page*/


.err{
    color: #993838;
}